<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <title>node-crawler</title>
    <script src="../../js/jquery-1.11.1.min.js"></script>
    <link href="../../css/amazeui.min.css" rel="stylesheet" />
    <link href="../../css/ui-dialog.css" rel="stylesheet" />
    <script src="../../js/dialog-plus-min.js"></script>
    <script src="../../js/knockout-3.3.0.debug.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script src="../../js/category.js"></script>
</head>
<body>
	<div class="wrap transition" id="Wrap">
        <% include _nav %>
        <section class="am-g list-config">
            <div class="am-u-sm-11 am-u-md-8 am-u-sm-centered">
                <% include _breadcrumb %>

                <article data-am-widget="paragraph" class="am-paragraph am-paragraph-default article"
                data-am-paragraph="{ tableScrollable: true, pureview: true }" data-id="<%= content._id %>">
                  <p><%= content.content %></p>
			    </article>
                 <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
                 <a href="<%= content.site_url %>" target="_blank">原文链接：<%= content.site_url %></a>
                 <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
                <div>
                    <h3>标签选择</h3>
                    <% list.forEach(function(element,index){ %>
                        <div class="am-radio">
                            <label>
                                <% if (content.category == element.hot_word) { %>
                                    <input type="radio" name="doc-radio" value="<%=element.hot_word%>" checked>
                                <% } else { %>
                                    <input type="radio" name="doc-radio" value="<%=element.hot_word%>" unchecked>
                                <% } %>
                                <%=element.hot_word%>
                            </label>
                        </div>
                    <% }) %>
                    <button type="submit" class="am-btn am-btn-primary am-btn-block category">提交</button>
                </div>
                <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
                <p>推荐标签:<%= suggestcategory %></p>
            </div>
        </section>
</div>
<script>
    $(function(){
        $('.sites').addClass("am-active").siblings('li').removeClass("am-active");
    })
</script>
</body>
</html>